<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 metatags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cine Joit | {% block title %}{% endblock %}</title>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#login").on("shown.bs.modal", function(){
          $('[name=login_username]').focus();
        });

        $("#signup").on("shown.bs.modal", function(){
          $("#register_username").focus();
        });
    });
    </script>
    {% block head %}{% endblock %}
  </head>
  <body role="document">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'home' %}>Cine Joit</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href={% url 'home' %}>Inicio</a></li>
            {% if not user.is_anonymous %}
            <!-- Modificar numero de pelicula -->
            <li><a href={% url 'movie_listing' %}>Cartelera</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bienvenido <strong>{{user.username}}</strong> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href={% url 'profile' %}>Mi Cuenta</a></li>
                <li class="divider"></li>
                <li><a href={% url 'logout' %}>Cerrar Sesion</a></li>
              </ul>
            </li>
            {% else %}
            <li><a style="cursor:pointer;" id="loginpopup">Ingresar / Registrarse</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Code for Login / Signup Popup -->
    <!-- Modal Log in -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true" >
      <div class="modal-dialog" style="margin-top: 150px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel1">Login</h4>
          </div>
          <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <div class="modal-body" id="login_details">
              <span> ¿Ya tienes una cuenta? </span> </br></br>
              *<span style="font-weight:bold;">Tu Usuario</span><br />
              <input type="text" placeholder="Patricio12" name="login_username" required /><br /></br>
              *<span style="font-weight:bold;" >Contraseña</span><br />
              <input type="password" autocomplete="off" placeholder="Contraseña" name="login_password" required/><br />
            </div>
            <div class="modal-footer" >
              <input style="float: left" type="submit" class="btn btn-success" value="Ingresar" /> 
                 </br></br>
              <span> ¿Aun no te has registrado?</span>
              <span id="signup-link" style="cursor:pointer;" class="text-info">Registrarse</span>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--Modal Login Ends -->

    <!-- Modal Sign-up Starts -->
    <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
      <div class="modal-dialog" style="margin-top: 100px;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel2">Registrarse</h4>
          </div>
          <div class='alert alert-error' id='form_validation' style="display: none;"> </div>
          <form id="register_form" method="post" action="/register/">
            {% csrf_token %}
            <div class="modal-body form-group" id="signup_details">
              <div id="register_username_div">
              *<label for="register_username">Usuario</label>
              <label class='control-label' id="register_username_"></label>
              <input type="text" placeholder="Usuario" class="form-control" name="register_username" id="register_username"/> 
              </div>
              <div id="register_name_div">
              <label for="register_name">Nombres</label>
              <label class='control-label' id="register_name_"></label>
              <input type="text" placeholder="Nombres" class="form-control" name="register_name" id="register_name" /> 
              </div>
              <div id="register_last_name_div">
              <label for="register_last_name">Apellidos</label>
              <label class='control-label' id="register_last_name_"></label>
              <input type="text" placeholder="Apellidos"  class="form-control" name="register_last_name" id="register_last_name"/>
              </div>
              <div id="register_email_div">
              <label for="register_email">mail</label>
              <label class='control-label' id="register_email_"></label>
              <input type="text" placeholder="ejemplo@gmail.com" class="form-control" name="register_email"  id="register_email"/>
              </div>
              <div id="register_password_div">
              *<label for="register_password">Contraseña</label>
              <label class='control-label' id="register_password_"></label>
              <input type="password" autocomplete="off" placeholder="Contraseña" class="form-control" name="register_password"  id="register_password"/>
              </div>
              <div id="re_register_password_div">
              *<label for="re_register_password">Re-ingresar contraseña</label>
              <label class='control-label' id="re_register_password_"></label>
              <input type="password" autocomplete="off" placeholder="Re-ingresar contraseña" class="form-control" name="re_register_password" id="re_register_password"/>
              </div>
            </div>
            <div class="modal-footer" >
            <input style="float: left" type="submit" class="btn btn-success"  value="Registrarse" /> 
             <span>&nbsp;&nbsp;&nbsp; ¿Ya estas registrado? </span><span id="login-link" class="text-info" style="cursor:pointer;">  Ingresar  </span> 
            </div>
            </form>
        </div>
      </div>
    </div>
    <!-- Modal Sign up ends! -->

    <!-- Messages section -->
    {% if messages %}
      <ul class="messages">
        {% for msg in messages %} 
        <li>
          <div class="alert alert-{{msg.level_tag}}" role="alert">
          {{msg.message}}
          </div>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    <!-- Messages section end-->

    <div class="container theme-showcase " role="main">
      <div class="jumbotron">
      {% block jumbotron %}{% endblock%}
      </div>
      {% block body %}{% endblock %}
      <br>
      <br>
    </div>
  </body>
</html>
