{% extends "base.html" %}
{% block title %}Asientos{% endblock %}
{% block head %}
<link href='/static/css/mycss.css' rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery.seat-charts.min.js"></script> 
	<script type="text/javascript">
	var price = 3000; //price
$(document).ready(function(){
	var $cart = $('#selected-seats'), //Sitting Area
	$counter = $('#counter'), //Votes
	$total = $('#total'); //Total money
	
	var sc = $('#seat-map').seatCharts({
		map: [  //Seating chart
			'__aaaaaaaaaaaa__',
            '__aaaaaaaaaaaa__',
            '________________',
            'aaa__aaaaaa__aaa',
            'aaa__aaaaaa__aaa',
			'aaa__aaaaaa__aaa',
			'aaa__aaaaaa__aaa',
			'aaa__aaaaaa__aaa',
			'aaa__aaaaaa__aaa',
            'aaa__aaaaaa__aaa'
		],
		naming : {
			top : false,
			getLabel : function (character, row, column) {
				return column;
			}
		},
		legend : { //Definition legend
			node : $('#legend'),
			items : [
				[ 'a', 'available',   'Disponible' ],
				[ 'a', 'unavailable', 'Vendido']
			]					
		},
		click: function () { //Click event
			if (this.status() == 'available') { //optional seat
				if( !$("input[name='seat1']").val() ) {
			        $("input[name='seat1']").val(this.settings.id)
			        .attr('id', 'selected'+this.settings.id);
			    }
			    else{
			    	if( !$("input[name='seat2']").val() ) {
				        $("input[name='seat2']").val(this.settings.id)
				        .attr('id', 'selected'+this.settings.id);
				    }
				    else{
				    	if( !$("input[name='seat3']").val() ) {
					        $("input[name='seat3']").val(this.settings.id)
					        .attr('id', 'selected'+this.settings.id);
					    }
					    else{
					    	alert('Solo puedes comprar un maximo de 3 entradas por pelicula')
					    	return 'available';
					    }
				    }
			    }
			    $('<li>F:'+(this.settings.row+1)+' A:'+this.settings.label+'</li>')
					.attr('id', 'cart-item-'+this.settings.id)
					.data('seatId', this.settings.id)
					.appendTo($cart);
				$counter.text(sc.find('selected').length+1);
				$total.text(recalculateTotal(sc)+price);							
				return 'selected';

			} else if (this.status() == 'selected') { //Checked
					//Update Number
					$counter.text(sc.find('selected').length-1);
					//update totalnum
					$total.text(recalculateTotal(sc)-price);						
					//Delete reservation
					$('#cart-item-'+this.settings.id).remove();
					$('#selected'+this.settings.id).val('')
					.removeAttr('id')
					//optional
					return 'available';
			} else if (this.status() == 'unavailable') { //sold
				return 'unavailable';
			} else {
				return this.style();
			}
		}
	});
	//sold seat-map
	{% for seat in seats %}
	sc.get(['{{seat}}']).status('unavailable');
	{% endfor %}
	/*Limpio datos en caso de Fail de Post*/
	$("input[name='seat1']").val('')
	$("input[name='seat2']").val('')
	$("input[name='seat3']").val('')
});
//sum total money
function recalculateTotal(sc) {
	var total = 0;
	sc.find('selected').each(function () {
		total += price;
	});
			
	return total;
}
	</script>
{% endblock %}
{% block jumbotron %}
        <h1><center>Cine Joit</center></h1>
{% endblock%}
{% block body %}
<div class="row">
	<div class="col-md-6" id="seat-map">
		<div class="front">PANTALLA</div>					
	</div>
	<div class="booking-details col-md-6">
		<p>Pelicula: <span> Gingerclown</span></p>
		<form action='{{ request.path }}' method="POST">
			{% csrf_token %}
			<p>Asientos: </p>
			<ul id="selected-seats"></ul>
			<p>Tickets: <span id="counter">0</span></p>
			<p>Total: <b>$<span id="total">0</span></b></p>
			{{form}}
			<input type="submit" class="btn" value="Comprar">
		</form>	
		<br>
		<div id="legend" style='width:200px'></div>
	</div>
	<div style="clear:both"></div>

</div>

{% endblock %}